*{
    box-sizing:border-box;
}

article, aside, details, body, figcaption, figure, footer, header, main, nav, section {
    display: block;
    margin: 0;
}
header{
    display: flex;
    box-sizing: border-box;
    background-color:#FB8C3B;
}
#logo{
    width: 218px;
}
#main-menu{
    display:block;
}

ul li {
    padding: -1px;
    display: inline-block;
    border-bottom: 0;
    list-style: none;
    text-align: center;
    margin-top: 35px;
}

header a {
    color:white;
    padding-right: 9px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'arial';
}
li:last-child{

    font-size: 26px;
    width: 54px;
    position: absolute;
    top: 10px;
    right: 51px;
}
.fa-heart{
    color: ghostwhite;
}
a:hover {
    background-color: #FBBC53;
}