*{
    box-sizing:border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;

}
body{
    margin: 0;
    font-family: 'Karla', sans-serif;
}

header{
    display: flex;
    box-sizing: border-box;
    background-color:#FB8C3B;
}
#logo{
    width: 218px;
}
#main-menu{
    display:block;
}

ul li {
    padding: -1px;
    display: inline-block;
    border-bottom: 0;
    list-style: none;
    float: left;
    text-align: center;
    margin-top: 35px;
}

header a {
    color:white;
    padding-right: 9px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'arial';
}
header li:last-child{

    font-size: 26px;
    width: 54px;
    position: absolute;
    top: 10px;
    right: 51px;
}
.fa-heart{
    color: ghostwhite;
}
a:hover {
    background-color: #FBBC53;
}

/*START footer*/

footer{
    width:100%;
}

#divfoot1{
    background-color:#fff8f1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fb8026;
}
#divfoot1 form input[type=submit] {
    background-color:#fb8026;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:18px;
}

#divfoot1 input[type=submit]:hover {
    background-color: #bd611d;
    color: white;
}

#divfoot1 form input[type=email]{
    padding: 12px 20px;
}


#divfoot1 nav ul li{
    list-style: none;
    text-align: left;

}

#divfootin1{
    margin-left: 40px;
    padding: 20px 0 20px;
}

#divfootin2 nav{
    float: left;
    margin-right: 40px;
    padding: 20px 0 20px;
}

#divfootin2 a{
    text-decoration: none;
    font-size: 12px;
    color: #fb8026;
}

#divfoot2{
    background-color:#fb8026;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#divfoot2 nav ul li{
    list-style: none;
    float: left;
    text-align: left;
    margin-left: 10px;
}

#divfoot2 nav{
    margin-right: 40px;
    margin-bottom: 10px;
}

#divfoot2 p{
    margin-left: 40px;
    color:#fff;
}
